body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.drawer-container {
    width: 200px;
    background-color: #333;
    height: 100vh;
    color: #fff;
    position:fixed;
    top: 0;
    left: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 20px;
    text-align: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.videos-container{
    border: 1px yellow solid;
    width: 87%;
    height: 100vh;
    background-color: #333;
    position:fixed;
    top: 0;
    right: 0;
}