body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.videos-container {
    margin-left: 220px; /* Compensar a largura do drawer */
    padding: 20px;
}

#search {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#videos-list {
    list-style: none;
    padding: 0;
}

#videos-list li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#videos-list li button {
    border: none;
    background-color: #d9534f;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#favorites-count {
    margin-top: 20px;
}
